<div class = "container">
  <div class = "row d-flex">
    <p><%= flash[:notice] %></p>
  </div>
  <div class = "row d-flex">
    <div class = "col-lg-4">
      <h4><%= @picture.user.nick_name %>さんの投稿詳細</h4>
      <p><%= image_tag @picture.image, size: "250x160" %></p>
      <p>投稿日時:<%= @picture.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <p>行ってみたい！<%= @picture.wanna_goes.count %>件</p>
      <p>コメント：<%= @picture.picture_comments.count %>件</p>
    </div>
      <div class = "d-flex col-lg-8">
        <table class = "table">
          <tr><td>撮影スポット：</td><td><%= @picture.spot_name %></td></tr>
          <tr><td>都道府県：</td><td><%= @picture.prefecture.prefecture %></td></tr>
          <tr><td>最寄駅：</td><td><%= @picture.station %></td></tr>
          <tr><td>撮影時期：</td><td><%= @picture.season.season %></td></tr>
          <tr><td>花・植物の種類：</td><td><%= @picture.flower_plant %></td></tr>
          <tr><td>キャプション：</td></tr>
          <tr><td><%= @picture.caption %></td></tr>
          <tr>
            <td><%= link_to "キャプション編集", edit_admin_picture_path(@picture), class: "btn btn-success" %></td>
            <td><%= link_to "投稿削除", admin_picture_path(@picture), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
          <tr>
            <th>コメント一覧</th>
          </tr>
          <% @picture.picture_comments.each do |picture_comment| %>
          <tr>
            <td><%= picture_comment.user.nick_name %></td>
            <td><%= picture_comment.comment %></td>
            <td><%= link_to "コメント編集", edit_admin_picture_picture_comment_path(picture_comment.picture, picture_comment), class: "btn btn-success" %></td>
            <td><%= link_to "コメント削除", admin_picture_picture_comment_path(picture_comment.picture, picture_comment), class: "btn btn-danger", method: :delete %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>