<div class = "container">
  <div class = "row">
    <h2>投稿一覧(新着順)</h2>
    <% @pictures.each do |picture| %>
    <div class = "col-md-3">
      <p>
      <%= link_to picture_path(picture) do %>
        <%= image_tag picture.image, size: "350x250" %>
      <% end %>
      </p>
      <p>撮影者：<%= picture.user.nick_name %>さん</p>
      <p>行ってみたい!：<%= picture.wanna_goes.count %>件</p>
      <p>コメント：<%= picture.picture_comments.count %>件</p>
    </div>
    <% end %>
  </div>
</div>

