
<div class = "container">
  <div class = "row d-fle">
    <%= flash[:notice] %>
  </div>
  <div class = "row d-flex">
    <div>
      <h2>投稿詳細</h2>
      <p><%= image_tag @picture.image, size: "350x250" %></p>
      <p>投稿日時：<%= @picture.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <% if @picture.wanna_gone_by?(current_user) %>
      <p>
        <%= link_to picture_wanna_goes_path(@picture), method: :delete do %>
          <%= @picture.wanna_goes.count %> 行ってみたい！
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to picture_wanna_goes_path(@picture), method: :post do %>
          行ってみたい！<%= @picture.wanna_goes.count %> 件
        <% end %>
      </p>
      <% end %>
      <p>コメント：<%= @picture.picture_comments.count %>件</p>
      <%= form_with model: [@picture, @picture_comment] do |f| %>
      <p><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "col-12" %></p>
      <p><%= f.submit "コメントを送信", class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <div class = "col-md-5">
      <table class = "table">
        <tr>
          <td>スポット：</td>
          <td><%= @picture.spot_name %></td>
        </tr>
        <tr>
          <td>撮影時期</td>
          <td><%= @picture.season.season %></td>
        </tr>
        <tr>
          <td>花・植物の種類：</td>
          <td><%= @picture.flower_plant %></td>
        </tr>
        <tr>
          <td>都道府県：</td>
          <td><%= @picture.prefecture.prefecture %></td>
        </tr>
        <tr>
          <td>最寄駅：</td>
          <td><%= @picture.station %></td>
        </tr>
        <tr>
          <td>キャプション：</td>
          <td><%= @picture.caption %></td>
        </tr>
        <tr>
          <% if @picture.user == current_user %>
          <td><%= link_to "投稿を編集", edit_picture_path(@picture), class: "btn btn-success" %></td>
          <td><%= link_to "投稿を削除", picture_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
          <% else %>
          <td></td>
          <% end %>
        </tr>
        <tr>
          <th>コメント一覧：</th>
        </tr>
        <% @picture.picture_comments.each do |picture_comment| %>
        <tr>
          <td><%= picture_comment.user.nick_name %></td>
          <td><%= picture_comment.comment %></td>
          <% if picture_comment.user == current_user %>
          <td><%= link_to "コメントを削除", picture_picture_comment_path(picture_comment.picture, picture_comment), class: "btn btn-secondary", method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
