<div class = "container">
  <h1>本日の投稿（<%= @pictures.count %>件)</h1>
    <div class = "row">
      <% @pictures.each do |picture| %>
      <table class = "table">
        <tr>
          <td>
            <%= link_to admin_picture_path(picture) do %>
              <%= image_tag picture.image, size: "350x250" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            撮影者：<%= picture.user.nick_name %>さん
          </td>
        </tr>
        <tr>
          <td>
            行ってみたい!：<%= picture.wanna_goes.count %>件
          </td>
        </tr>
        <tr>
          <td>
            コメント：<%= picture.picture_comments.count %>件
          </td>
        </tr>
      </table>
      <% end %>
    </div>
</div>