<%= form with model: @category do |f| %>
<div class = "container">
  <div class = "row">
    <h2>カテゴリ検索</h2>
    <!--↓季節タグ欄↓-->
    <table class = "table">
      <tr>
        <td><%= f.label "季節:" %></td>
        <td><%= f.collection_select :season_id, Season.all, :id, :season %></td>
      </tr>
    </table>
  <div>
  <div class = "row">
    <!--↓都道府県タグ欄↓-->
    <table class = "table">
      <tr>
        <td><%= f.label "都道府県:" %></td>
        <td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, {disabled: 9..48} %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>