<div class = "container">
  <div class = "row">
    <!--サイドバーをrenderする↓-->
    <div class = "col-md-3"></div>
    <div class = "col-md-9">
      <h2>カテゴリ追加</h2>
      <table class = "table">
        <%= form_with model: @category, url: admin_categories_path do |f| %>
        <tr>
          <th>カテゴリ名</th>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit "追加", class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
      <h2>カテゴリ一覧</h2>
      <table>
        <tr>
          <td><%= link_to "季節別の写真を見る", admin_seasons_path, class: "btn" %></td>
          <td><%= link_to "都道府県別の写真を見る", admin_prefectures_path, class: "btn" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>