<div class = "container">
  <div class = "row">
    <h2><%= @user.last_name + @user.first_name %>さんの情報詳細編集</h2>
  </div>
  <div class = "row">
    <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
    <table>
      <tr>
        <td>プロフィール画像：</td>
        <td><%= f.file_field :profile_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td>ニックネーム：</td>
        <td><%= f.text_field :nick_name %></td>
      </tr>
      <tr>
        <td>紹介文：</td>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <td>メールアドレス：</td>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <td>在住：</td>
        <td><%= f.collection_select :prefecture_id, Prefecture.where(id:1..8), :id, :prefecture %></td>
      </tr>
      <tr>
        <td>アカウントステータス：</td>
        <td>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label "退会" %>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label "有効" %>
        </td>
      </tr>
      <tr>
        <td><%= f.submit "編集内容を保存" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>


