<div class = "container">
  <div class = "row">
    <h2>ユーザ一覧</h2>
    <table class = "table table-hover table-inverse bg-light">
      <thead>
        <tr>
          <th>ユーザ名</th>
          <th>ニックネーム</th>
          <th>都道府県</th>
          <th>アカウントステータス</th>
          <th colspan = "1"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to admin_user_path(user) do %>
              <%= user.nick_name %>
            <% end %>
          </td>
          <td><%= user.prefecture.prefecture %></td>
          <% if user.is_deleted == true %>
          <td class = "text-secondary">無効</td>
          <% else %>
          <td class = "text-success">有効</td>
          <% end %>
          <td><%= link_to "編集", edit_admin_user_path(user), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class = "row"><%= paginate @users %></div>
</div>
