<div class = "container">
  <div class = "row">
    <div class = "col-lg-6">
      <h4><%= @user.last_name + @user.first_name %>（<%= @user.last_name_kana + @user.first_name_kana %>）さんの詳細情報</h4>
      <p><%= flash[:notice] %></p>
    <div class = "row">
      <h4>プロフィール画像：</h4>
    </div>
    <div class = "row">
      <div class = "col-lg-8">
        <p>
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, size: "200x150" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x150" %>
          <% end %>
        </p>
        <table class = "table">
          <tr><td>ニックネーム：</td><td><%= @user.nick_name %></td></tr>
          <tr><td>メールアドレス：</td><td><%= @user.email %></td></tr>
          <tr><td>在住：</td><td><%= @user.prefecture.prefecture %></td></tr>
          <tr><td>アカウントステータス：</td><td><%= @user.is_deleted %></td></tr>
          <tr><td><%= link_to "情報編集", edit_admin_user_path, class: "btn btn-success" %></td></tr>
        </table>
      </div>
    </div>
    <div class "col-lg-8 d-flex text-right">
      <h4><%= @user.last_name + @user.first_name %>さんの投稿一覧</h4>
      <%= render 'templates/user_show_pictures', users: @user %>
      </div>
    </div>
  </div>
</div>

