<%= flash[:notice] %>

<div class = "container">
  <div class = "row">
    <h2><%= @user.last_name + @user.first_name %>（<%= @user.last_name_kana + @user.first_name_kana %>）さんの詳細情報</h2>
    <div>
      <h4>プロフィール画像：</h4>
      <p><%= image_tag @user.image, size: "200 x 150" %></p>
      <table class = "table">
        <tr><td>ニックネーム：</td><td><%= @user.nickname %></td></tr>
        <tr><td>メールアドレス：</td><td><%= @user.email %></td></tr>
        <tr><td>在住：</td><td><%= @user.prefecture %></td></tr>
        <tr><td>アカウントステータス：</td><td><%= @user.is_deleted %></td></tr>
        <tr><td><%= link_to "情報編集", edit_admin_user_path, class: "btn btn-success" %></td></tr>
      </table>
    </div>
    <div>
      <h2><%= @user.last_name + @user.first_name %>さんの投稿一覧</h2>
      <table>
        <% @users.each do |user| %>
        <tr>
          <td>
            <% if user.image.attached? %>
              <%= image_tag user.image, size: "200x150" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x150" %>
            <% end %>
          </td>
        </tr>
        <tr><td>投稿日時：</td><td><%= user.picture.created_at.strftime('%Y/%m/%d %H:%M') %></td></tr>
        <tr><td>行ってみたい：</td><td><%= user.picture.wanna_go.count %>件</td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

