<!DOCTYPE html>
<html>
  <head>
    <title>JahreszeitlicheBlumen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body "d-flex flex-column vh-100">
    <header class = "shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
        <div class = "container">
          <a class = "navbar-brand p-3" href = "/">
            <span><%= image_tag ('logo_transparent.png'), size: "120x100" %></span>
          </a>
          <button class="navbar-toggler m-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      　 　　 <span class="navbar-toggler-icon"></span>
        　</button>
        　<div class="collapse navbar-collapse" id="navbarNavDropdown">
          　<ul class = "navbar-nav ml-auto">
            　<% if user_signed_in? %>
            　<li class = "nav-item">
            　  <%= link_to "新規投稿", new_picture_path, class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <% if @user.email == 'guest-user@example.com'%>
            　    <% link_to "マイページ", top_path, class: "nav-link text-black-50" %>
            　 <% else %>
            　    <%= link_to "マイページ", user_path(current_user), class: "nav-link text-black-50" %>
            　 <% end %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "投稿一覧", pictures_path, class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "「行ってみたい！」一覧", wanna_goes_user_path(current_user), class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-black-50" %>
            　</li>
            　<% else %>
            　<li class = "nav-item">
            　  <%= link_to "トップページ", top_path, class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "About", about_path, class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "投稿一覧", pictures_path, class: "nav-link text-black-50" %>
            　</li>
            　<li class = "nav-item">
            　  <%= link_to "ユーザ登録", new_user_registration_path, class: "nav-link text-black-50" %>
            　</li>
            　<% end %>
          　</ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class = "container">
        <%= yield %>
      </div>
    </main>
  </body>
  <footer class = "footer text-dark py-5 m-0">
    <p class = "text-center">Copy Light. Chie Hirayama</p>
  </footer>
</html>